In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from data import get_data

df = get_data()
df["Revenue"] = df["Price"] * df["Quantity"]

In [2]:
total_revenue = df["Revenue"].sum()
print("Total Revenue:", total_revenue)

Total Revenue: 354200

In [3]:
total_orders = df["Order_ID"].nunique()
print("Total_Orders:", total_orders)

Total_Orders: 10

In [4]:
aov = total_revenue / total_orders
print("Average Order Value:", aov)

Average Order Value: 35420.0

In [5]:
revenue_per_product = df.groupby("Product")["Revenue"].sum().reset_index()
pd.DataFrame(revenue_per_product)

      Product  Revenue
0  Headphones     8000
1    Keyboard     3000
2      Laptop   220000
3      Mobile   120000
4       Mouse     3200

In [6]:
top_product_revenue = revenue_per_product["Revenue"].max()
top_product_contribution = (top_product_revenue / total_revenue) * 100
print(f"Dependency Risk : {top_product_contribution.round(2)}%")

Dependency Risk : 62.11%